Repository ideacrew/enroll, pull requests merged in 2021-02, with the labels that each got.

#10 92714
  components/financial_assistance/app/views/financial_assistance/incomes/index.html.erb
Labels: Assignee: Utkarsh Shukla, Priority: 2-Urgent, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#9 92723
  components/financial_assistance/app/views/financial_assistance/applications/steps.yml
  components/financial_assistance/app/views/financial_assistance/shared/support_text.yml
Labels: Assignee: Utkarsh Shukla, Priority: 2-Urgent, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#12 92720
  components/financial_assistance/app/views/financial_assistance/shared/_status.html.erb
Labels: Assignee: Utkarsh Shukla, Priority: 2-Urgent, Status: Peer Review, Tracker: App-Dev_Use Case

#13 92718
  app/views/insured/consumer_roles/help_paying_coverage.html.erb
  app/views/shared/support_text_household.yml
  components/financial_assistance/app/views/financial_assistance/shared/support_text.yml
  components/financial_assistance/spec/dummy/app/views/financial_assistance/shared/support_text.yml
Labels: Assignee: Utkarsh Shukla, Priority: 2-Urgent, Status: Peer Review, Tracker: App-Dev_Use Case

#19 89407
  components/financial_assistance/app/views/financial_assistance/shared/support_text.yml
Labels: Assignee: Utkarsh Shukla, Priority: 2-Urgent, Status: Promote to Test Environment, Tracker: App-Dev_Use Case

#62 92749
  components/financial_assistance/app/models/financial_assistance/applicant.rb
  components/financial_assistance/app/models/financial_assistance/benefit.rb
  components/financial_assistance/app/views/financial_assistance/events/_applicant_information.xml.haml
  components/financial_assistance/spec/models/financial_assistance/applicant_spec.rb
  components/financial_assistance/spec/views/financial_assistance/events/applicant_information.xml.haml_spec.rb
Labels: Priority: 1-Immediate, Status: BA Review, Tracker: App-Dev_Use Case
